<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<!-- ВСТАВКА HEADER -->
<div th:replace="~{fragments/header :: header}"></div>

<h2>Добро пожаловать</h2>

<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder="Email"/>
    <input type="password" name="password" placeholder="Пароль"/>
    <button type="submit">Войти</button>
</form>

</body>

<!-- ВСТАВКА FOOTER -->
<div th:replace="~{fragments/footer :: footer}"></div>

</html>